{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Irza</title>
</head>
<body>
    <div class="main">
        <div class="img"></div>
        <h1>Muhammad Irza Arrizkyputra</h1>
        <div class="text"><b>"Mahasiwa Biasa"</b></div>
        <p><b>NPM</b> &nbsp; &nbsp; &nbsp; &nbsp;: 1906353744</p>
        <p><b>Angkatan</b>  : 2019</p>
        <p><b>Hobi</b> &nbsp; &nbsp; &nbsp; &nbsp;: Main games</p>
        <p><b>Deskripsi</b> : Mahasiswa perantauan yang harusnya merantau sekarang
            malah di rumah lagi. Angkatan 2018 harusnya tapi gagal sbmptn. Cita-cita
            kerja di e-sports tapi ga harus jadi pemain. Sedang mencari caranya.</p>
        <p><b>Kuliah</b> : Fasilkom</p>
        <p><b>Riwayat Pendidikan</b> :</p>
        <ul class="a">
            <li>SMPN 1 Surabaya</li>
            <li>SMAN 1 Surabaya</li>
            <li>Universitas Airlangga</li>
            <li>Universitas Indonesia</li>
        </ul>
        <h2>Follow me on</h2>
        <ul class="b">
            <li class="b"><a href="https://twitter.com/MuhIrza"><img src="https://seeklogo.com/images/T/twitter-square-black-and-white-logo-962E683117-seeklogo.com.png" width="50px" height="50px"></a></li>
            <li class="b"><a href="https://www.instagram.com/muhammad_irza/"><img src="https://seeklogo.com/images/I/instagram-logo-E0067A1403-seeklogo.com.png" width="50px" height="50px"></a></li>
            <li class="b"><a href="https://www.linkedin.com/in/muhammad-irza-830199186/"><img src="https://image.flaticon.com/icons/png/512/61/61109.png" width="50px" height="50px"></a></li>
    </div>
</body>
</html>
